{% extends './base.html' %}

{% block content %}
{% load static %}

<main class="about-container">
    <div class="about-heading-section">
        <img class="about-heading-image" src="{% static './img/about_heading.jpg' %}" alt="">
        <div class="about-heading">
            <h1 class="about-heading-title">About OptimusHome Real Estate</h1>
            <p class="about-heading-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="about-info-container">
        <div class="about-info">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-items"><a href=""><i class="fas fa-home"></i> Home</a></li> |
                <li class="breadcrumb-items"><a href="">About</a></li>
            </ul>
            <div class="about-info-section">
                <section class="about-info-item">
                    <h2 class="about-info-item-title">We Search For The Perfect Home</h2>
                    <p class="about-info-item-paragraph1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, perferendis?</p>
                    <p class="about-info-item-paragraph2">
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Asperiores officiis, ab recusandae in similique pariatur aut nobis velit perspiciatis!
                        Porro!
                    </p>
                </section>
                <section class="about-seller-of-the-month">
                    <img class="about-seller-of-the-month-image" src="" alt="">
                    <h2 class="about-seller-of-the-month-title">name</h2>
                    <p class="about-seller-of-the-month-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, quod!</p>
                </section>
            </div>
        </div>
    </div>
</main>

{% endblock %}
