{% extends '../base.html' %}

{% block content %}
{% load static %}

<div class="about-container">
    
    {% include '../partials/_heading.html' %}

    <div class="about-info-container">
        <div class="about-info">

            {% include '../partials/_breadcrumb.html' %}

            <div class="about-info-section">
                <section class="about-info-item">
                    <h2 class="about-info-item-title">We Search For The Perfect Home</h2>
                    <p class="about-info-item-paragraph1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, perferendis?</p>
                    <img src="{% static './img/about_info.jpg' %}" alt="" class="about-info-item-image">
                    <p class="about-info-item-paragraph2">
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Asperiores officiis, ab recusandae in similique pariatur aut nobis velit perspiciatis!
                        Porro!
                    </p>
                </section>
                <section class="about-seller-of-the-month">
                    <img class="about-seller-of-the-month-image" src="" alt="">
                    <h2 class="about-seller-of-the-month-title">name</h2>
                    <p class="about-seller-of-the-month-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, quod!</p>
                </section>
            </div>
        </div>
    </div>
    <section class="center-hero">
        <h2 class="center-hero-title">We Work For You</h2>
        <p class="center-hero-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, eaque.</p>
        <a href="{% url 'listings' %}" class="button-group">View Our Featured Listings</a>
    </section>
    <section class="about-team">
        <div class="about-team-item">
            <h2 class="about-team-item-name">Paul Onyekwelu</h2>
            <p class="about-team-item-phone">485930583930</p>
            <p class="about-team-item-email">onyekwelupaulo@gmail.com</p>
        </div>
    </section>
</div>

{% endblock %}
