@font-face{
    font-family : interstate;
    src: url('./interstatelightregular-webfont.woff'), url('./interstatelightregular-webfont.woff2');
}
// variables
$color-hf : rgb(13, 18, 59);
$color-btn: rgb(11, 150, 108);


html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: interstate;
    box-sizing: border-box;
    width: 100vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//button decors
.button-group{
    width: 98%;
    height: 3.5rem;
    color: white;
    background: $color-btn;
    outline: none;
    border: none;

    &:active{
        outline: 2px solid  rgb(118, 230, 196);
        outline-offset: .1rem;
    }
}

.header{
    .navigation{
        width: 100%;
        background: white;
        height: 4rem;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;

    
        .navigation-email{
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

    .nav{
        width: 100%;
        display: flex;
        background: $color-hf;
        justify-content: space-around;

        .logo{
            h1{
                padding: 1.6rem;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .nav-left{
            display: flex;
            justify-content: space-evenly;
        }

        .nav-left-item{
            display: inline-block;
            list-style-type: none;
            
            padding: 2rem;

            a{
               text-decoration: none; 
               color: white;
               text-transform: uppercase;
            }
        }
    }
}

// home page section
.main{
    position: relative;

    .heading-img{
        width: 100vw;
        position: fixed;
        top: -5rem;
        z-index: -1;
    }

    .heading-hero{
        width: 100%;
        height: 50rem;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading-hero{
            width: 65%;
            background: rgba(5, 5, 5, 0.486);
            height: 35rem;
            margin: auto;
            padding: 3rem;
            color: white;
            text-align: center;

            .heading-hero-heading{
                font-size: 5rem;
                padding-bottom: 2rem;
            }

            .heading-hero-paragraph{
                padding-bottom: 1rem;
            }

            .heading-search-form{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;

                .heading-form-group{
                    min-width: 30%;
                    height: 4rem;
                    margin: 1rem;
                    flex: 1 1 auto;
                    border-radius: .5rem;
                }
            }
        }
    }

    .features{

        width: 100%;
        height: 30rem;
        background-color: rgba($color: $color-btn, $alpha: .9);
        position: relative;
        overflow: hidden;

        .feature-image{
            width: 100%;
            position: absolute;
            z-index: -1;
        }

        .feature-list{
            width: 75%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            color: white;
            margin: auto;
            padding: 0 1rem;

            .feature-item{
                width: 25%;
                text-align: center;
                margin: auto;
    
                .feature-item-icon{
                    .fas{
                        font-size: 5rem; 
                        margin-bottom: 3rem;
                    }
                   
                }

                .feature-item-heading{
                    font-weight: 800;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}




//css for about-page
.about-container{

    .about-heading-section{
        position: relative;
        width: 100%;
        height: 20rem;
        background: rgba($color: $color-btn, $alpha: .8);
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        

        .about-heading-image{
            position: absolute;
            width: 100%;
            top:-10rem;
            z-index: -5;
        }

        .about-heading{
            color:white;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .about-info-container{
        margin: 2rem 0;
        width: 100%;

        .about-info{
            width: 70%;
            margin: 0 auto;

            .breadcrumb-list{
                background: rgba($color: rgba(43, 88, 78, 0), $alpha: .2);
                height: 4rem;                

                .breadcrumb-items{
                    display: inline-block;
                    padding: 1rem;

                    a{
                        text-decoration: none;
                        color: black; 
                    }
                    
                }
            }

            .about-info-section{
                display: flex;
                justify-content: space-between;

                .about-info-item{
                    margin-right: 2rem;
                }

                .about-seller-of-the-month{
                    border: 1px solid black;
                }
            }
        }
    }

    .center-hero{
        width: 100%;
        height: 30rem;
        background-color: rgb(22, 29, 37);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .center-hero-title{
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        a{
            display: inline-block;
            width: auto;
            text-decoration: none;
            padding: 1rem;
            margin-top: 2rem;
        }
    }

    .about-team{}

}


.footer{
    width: 100%;
    margin-top: auto;
    background: $color-hf;
    color:white;
    z-index: 5;
    

    .footer-item{
        text-align: center;
        padding: 2rem;
    }
}

