@font-face {
  font-family: interstate;
  src: url("./interstatelightregular-webfont.woff"), url("./interstatelightregular-webfont.woff2");
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: interstate;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.button-group {
  width: 98%;
  height: 3.5rem;
  color: white;
  background: #0b966c;
  outline: none;
  border: none;
}

.button-group:active {
  outline: 2px solid #76e6c4;
  outline-offset: .1rem;
}

.about-heading-section {
  position: relative;
  width: 100%;
  height: 20rem;
  background: rgba(11, 150, 108, 0.8);
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-heading-section .about-heading-image {
  position: absolute;
  width: 100%;
  top: -10rem;
  z-index: -5;
}

.about-heading-section .about-heading {
  color: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumb-list {
  background: rgba(43, 88, 78, 0.2);
  height: 4rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.breadcrumb-list .breadcrumb-items {
  display: inline-block;
  padding: 1rem;
}

.breadcrumb-list .breadcrumb-items a {
  text-decoration: none;
  color: black;
}

.header .navigation {
  width: 100%;
  background: white;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
  color: #0d123b;
}

.header .navigation .navigation-email a {
  text-decoration: none;
  color: #0d123b;
}

.header .navigation .socials-item {
  padding: .4rem;
}

.header .navigation .socials-item i {
  color: #0d123b;
}

.header .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0d123b;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .nav .logo h1 {
  padding: 1.6rem;
}

.header .nav .logo h1 a {
  text-decoration: none;
  color: white;
}

.header .nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .nav .nav-left-item {
  display: inline-block;
  list-style-type: none;
  padding: 2rem;
}

.header .nav .nav-left-item a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.home-page {
  position: relative;
}

.home-page .heading-img {
  width: 100vw;
  position: fixed;
  top: -5rem;
  z-index: -1;
}

.home-page .heading-hero {
  width: 100%;
  height: 50rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .heading-hero .heading-hero {
  width: 65%;
  background: rgba(5, 5, 5, 0.486);
  height: 35rem;
  margin: auto;
  padding: 3rem;
  color: white;
  text-align: center;
}

.home-page .heading-hero .heading-hero .heading-hero-heading {
  font-size: 5rem;
  padding-bottom: 2rem;
}

.home-page .heading-hero .heading-hero .heading-hero-paragraph {
  padding-bottom: 1rem;
}

.home-page .heading-hero .heading-hero .heading-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page .heading-hero .heading-hero .heading-search-form .heading-form-group {
  min-width: 30%;
  height: 4rem;
  margin: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: .5rem;
}

.home-page .features {
  width: 100%;
  height: 30rem;
  background-color: rgba(11, 150, 108, 0.9);
  position: relative;
  overflow: hidden;
}

.home-page .features .feature-image {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.home-page .features .feature-list {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  margin: auto;
  padding: 0 1rem;
}

.home-page .features .feature-list .feature-item {
  width: 25%;
  text-align: center;
  margin: auto;
}

.home-page .features .feature-list .feature-item .feature-item-icon .fas {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.home-page .features .feature-list .feature-item .feature-item-heading {
  font-weight: 800;
  margin-bottom: 2rem;
}

.about-container .about-info-container {
  margin: 2rem 0;
  width: 100%;
}

.about-container .about-info-container .about-info {
  width: 70%;
  margin: 0 auto;
}

.about-container .about-info-container .about-info .about-info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-container .about-info-container .about-info .about-info-section .about-info-item {
  margin-right: 2rem;
}

.about-container .about-info-container .about-info .about-info-section .about-seller-of-the-month {
  border: 1px solid black;
}

.about-container .center-hero {
  width: 100%;
  height: 30rem;
  background-color: #161d25;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .center-hero .center-hero-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.about-container .center-hero a {
  display: inline-block;
  width: auto;
  text-decoration: none;
  padding: 1rem;
  margin-top: 2rem;
}

.listings-section {
  width: 70%;
  margin: 2rem auto;
}

.footer {
  width: 100%;
  margin-top: auto;
  background: #0d123b;
  color: white;
  z-index: 5;
}

.footer .footer-item {
  text-align: center;
  padding: 2rem;
}
/*# sourceMappingURL=styles.css.map */