<header class="header">
    <div class="navigation">
        <div class="navigation-phone">+234-703-615-8665</div>
        <div class="navigation-email"><a href="mailto:onyekwelupaulo@gmail.com">onyekwelupaulo@gmail.com</a></div>
        <div class="navigation-socials">
            <span class="socials-item">socials</span>
        </div>
    </div>
    <nav class="nav">
        <ul class="nav-left">
            <li class="nav-left-item"><a href="{% url 'home' %}">home</a></li>
            <li class="nav-left-item"><a href="{% url 'about' %}">about</a></li>
            <li class="nav-left-item"><a href="{% url 'home' %}">featured listings</a></li>
        </ul>
        <ul class="nav-right">
            <li class="nav-left-item"><a href="">register</a></li>
            <li class="nav-left-item"><a href="">login</a></li>
        </ul>
    </nav>
</header>