<header class="header">
    <div class="navigation">
        <div class="navigation-phone">+234-703-615-8665</div>
        <div class="navigation-email"><a href="mailto:onyekwelupaulo@gmail.com">onyekwelupaulo@gmail.com</a></div>
        <div class="navigation-socials">
            <span class="socials-item">socials</span>
        </div>
    </div>
    <nav class="nav">
        <div class="logo">
            <h1><a href="{% url 'home' %}">OPTIMUSHOME</a></h1>
        </div>
        <ul class="nav-left">
            <li class="nav-left-item">
                <a href="{% url 'home' %}" {% if '/' == request.path %} style="color: rgb(11, 150, 108); border-bottom: 1px solid" {% endif %}>
                    home
                </a>
            </li>
            <li class="nav-left-item">
                <a href="{% url 'about' %}" {% if 'about' in request.path %} style="color: rgb(11, 150, 108); border-bottom: 1px solid" {% endif %}>
                    about
                </a>
            </li>
            <li class="nav-left-item">
                <a href="{% url 'home' %}">
                    featured listings
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="nav-left-item"><a href="">register</a></li>
            <li class="nav-left-item"><a href="">login</a></li>
        </ul>
    </nav>
</header>